/* line 1, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../sass/base/_reset.scss */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

/* line 51, ../sass/base/_reset.scss */
ul {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'HindSiliguryBold';
  src: url("../fonts/hindsiliguri-bold-webfont.woff2") format("woff2"), url("../fonts/hindsiliguri-bold-webfont.woff") format("woff"), url("../fonts/HindSiliguri-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'HindSiliguryLight';
  src: url("../fonts/hindsiliguri-light-webfont.woff2") format("woff2"), url("../fonts/hindsiliguri-light-webfont.woff") format("woff"), url("../fonts/HindSiliguri-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'HindSiliguryMedium';
  src: url("../fonts/hindsiliguri-medium-webfont.woff2") format("woff2"), url("../fonts/hindsiliguri-medium-webfont.woff") format("woff"), url("../fonts/HindSiliguri-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'HindSiliguryRegular';
  src: url("../fonts/hindsiliguri-regular-webfont.woff2") format("woff2"), url("../fonts/hindsiliguri-regular-webfont.woff") format("woff"), url("../fonts/HindSiliguri-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'HindSiligurySemiBold';
  src: url("../fonts/hindsiliguri-semibold-webfont.woff2") format("woff2"), url("../fonts/hindsiliguri-semibold-webfont.woff") format("woff"), url("../fonts/HindSiliguri-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'SortsMillGoudyItalic';
  src: url("../fonts/sortsmillgoudy-italic-webfont.woff2") format("woff2"), url("../fonts/sortsmillgoudy-italic-webfont.woff") format("woff"), url("../fonts/SortsMillGoudy-Italic.ttf") format("truetype");
}
@font-face {
  font-family: 'SortsMillGoudyRegular';
  src: url("../fonts/sortsmillgoudy-regular-webfont.woff2") format("woff2"), url("../fonts/sortsmillgoudy-regular-webfont.woff") format("woff"), url("../fonts/SortsMillGoudy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 63, ../sass/base/_fonts.scss */
body .navigation {
  font: 300 16px/1.4 "HindSiliguryLight", helvetica, sans-serif;
  color: #444;
}

/* line 68, ../sass/base/_fonts.scss */
body {
  font: 300 18px/1.4 "HindSiliguryRegular", helvetica, sans-serif;
  color: #444;
}

/* line 73, ../sass/base/_fonts.scss */
strong {
  font-family: "HindSiliguryBold", helvetica, sans-serif;
  font-weight: normal;
}

/* line 78, ../sass/base/_fonts.scss */
p {
  margin-bottom: 10px;
}

/* line 1, ../sass/sections/_body.scss */
body {
  /*background: url(../img/bgimg.png);*/
  background-color: #000000;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 12, ../sass/sections/_body.scss */
.page-template-template-frontpage .fp-logo-sec {
  padding-top: 120px;
  text-align: center;
}
/* line 16, ../sass/sections/_body.scss */
.page-template-template-frontpage .fp-logo-sec img {
  width: 30%;
}
/* line 21, ../sass/sections/_body.scss */
.page-template-template-frontpage .fp-logo-sec ul li {
  width: 130px;
  box-sizing: border-box;
  border-bottom: 2px solid #6A78E1;
  padding: 10px;
  margin: 30px;
  display: inline-block;
}
/* line 22, ../sass/sections/_body.scss */
.page-template-template-frontpage .fp-logo-sec ul li a {
  color: #ffffff;
}
/* line 32, ../sass/sections/_body.scss */
.page-template-template-frontpage .fp-logo-sec ul li:last-child {
  border-bottom-color: #e15f53;
}

/* line 40, ../sass/sections/_body.scss */
section.contact-section {
  padding: 40px 0;
}

/* line 44, ../sass/sections/_body.scss */
.no-padding {
  padding: 0;
}

/* line 1, ../sass/sections/_header.scss */
header {
  padding: 10px 0 5px;
  background-color: #564e4b;
}
/* line 5, ../sass/sections/_header.scss */
header .logo img {
  max-width: 180px;
  height: auto;
}
/* line 10, ../sass/sections/_header.scss */
header span.heading {
  display: block;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  margin-bottom: -50px;
  line-height: 3.2em;
  font-family: "SortsMillGoudyItalic", times, serif;
}
@media (max-width: 767px) {
  /* line 10, ../sass/sections/_header.scss */
  header span.heading {
    font-size: 1.4em !important;
  }
}
@media (max-width: 575px) {
  /* line 27, ../sass/sections/_header.scss */
  header .logo img {
    max-width: 90px;
  }
}

/* line 1, ../sass/sections/_navigation.scss */
.navigation {
  padding: 10px 0;
  background-color: #000000;
}
/* line 6, ../sass/sections/_navigation.scss */
.navigation .navbar {
  background-color: #000000;
  margin-bottom: 0px;
  padding-bottom: 0px;
  min-height: 0px;
}
/* line 12, ../sass/sections/_navigation.scss */
.navigation .navbar ul {
  float: right;
}
/* line 15, ../sass/sections/_navigation.scss */
.navigation .navbar ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  padding: 0px 15px;
}
/* line 21, ../sass/sections/_navigation.scss */
.navigation .navbar ul li a {
  color: #ffffff;
}
@media (max-width: 767px) {
  /* line 33, ../sass/sections/_navigation.scss */
  .navigation .navbar-collapse {
    height: auto !important;
    overflow: visible !important;
  }
  /* line 36, ../sass/sections/_navigation.scss */
  .navigation .navbar-collapse ul {
    margin-top: 15px;
    float: left;
    width: 100%;
  }
  /* line 41, ../sass/sections/_navigation.scss */
  .navigation .navbar-collapse ul li {
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: block;
  }
  /* line 50, ../sass/sections/_navigation.scss */
  .navigation .navbar-collapse ul li a {
    width: 100%;
    float: left;
    padding: 10px 0;
  }
}
/* line 62, ../sass/sections/_navigation.scss */
.navigation.catering {
  border-bottom: 2px solid #6A78E1;
}
/* line 66, ../sass/sections/_navigation.scss */
.navigation.takeaway {
  border-bottom: 2px solid #e15f53;
}

/* line 4, ../sass/sections/_slider.scss */
.bx-viewport {
  margin-bottom: 40px;
}

/* line 8, ../sass/sections/_slider.scss */
#fp_slider {
  min-width: 100%;
}
/* line 11, ../sass/sections/_slider.scss */
#fp_slider li {
  width: 100% !important;
  min-width: 100%;
}
@media (max-width: 575px) {
  /* line 11, ../sass/sections/_slider.scss */
  #fp_slider li {
    height: 200px;
  }
}
/* line 19, ../sass/sections/_slider.scss */
#fp_slider li .image-container {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 26, ../sass/sections/_slider.scss */
#fp_slider li .carousel-caption {
  bottom: 30px;
  position: absolute;
  left: 0%;
  right: auto;
  display: block;
  background-color: #6A78E1;
  float: left;
  text-align: left;
  font-family: "SortsMillGoudyItalic", times, serif;
  font-size: 1.3em;
  padding: 20px 20px 10px 20px;
}

/* line 1, ../sass/sections/_food.scss */
.food-items {
  margin-bottom: 40px;
}
/* line 4, ../sass/sections/_food.scss */
.food-items h2 {
  padding: 0 20px 0;
  color: #ffffff;
  margin-bottom: 20px;
}
/* line 10, ../sass/sections/_food.scss */
.food-items .food-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px;
  margin: 0 0 0 0;
}
/* line 16, ../sass/sections/_food.scss */
.food-items .food-item img {
  -moz-box-shadow: 1px 3px 8px #000;
  -webkit-box-shadow: 1px 3px 8px #000;
  -o-box-shadow: 1px 3px 8px #000;
  box-shadow: 1px 3px 8px #000;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 29, ../sass/sections/_food.scss */
.food-items .food-item h2 {
  position: relative;
  bottom: 65px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  left: 0px;
  right: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}
/* line 41, ../sass/sections/_food.scss */
.food-items .food-item h2 a {
  color: #ffffff;
}

/* line 1, ../sass/sections/_post-content.scss */
.post-content {
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 4, ../sass/sections/_post-content.scss */
.post-content .content-container {
  padding: 80px 0;
}
/* line 8, ../sass/sections/_post-content.scss */
.post-content .content-container.blackonwhite {
  background-color: #ffffff;
  color: #000000;
}
/* line 15, ../sass/sections/_post-content.scss */
.post-content h1 {
  font-family: "SortsMillGoudyItalic", times, serif;
  font-size: 3em;
  padding-bottom: 10px;
}
/* line 21, ../sass/sections/_post-content.scss */
.post-content p {
  color: #564e4b;
}

/* line 3, ../sass/sections/_contact.scss */
.contact-form-class input, .contact-form-class label {
  width: 100%;
}
/* line 7, ../sass/sections/_contact.scss */
.contact-form-class label {
  color: #564e4b;
}
/* line 11, ../sass/sections/_contact.scss */
.contact-form-class .btn.btn-primary {
  display: block;
  width: auto;
  float: right;
  border-radius: 0px;
  border: 0px;
  background-color: #6A78E1;
}
/* line 19, ../sass/sections/_contact.scss */
.contact-form-class .btn.btn-primary:hover {
  background-color: #868FD4;
}
/* line 24, ../sass/sections/_contact.scss */
.contact-form-class span.wpcf7-not-valid-tip {
  font-size: 0.7em;
}

/* line 30, ../sass/sections/_contact.scss */
.wpcf7-response-output {
  border: 3px solid #6A78E1 !important;
  margin: 2em 0 1.5em 0 !important;
}
/* line 34, ../sass/sections/_contact.scss */
.wpcf7-response-output.wpcf7-validation-errors {
  border: 3px solid red !important;
}

/* line 1, ../sass/sections/_footer.scss */
footer {
  background-color: #000000;
  padding: 40px 0;
  color: #ffffff;
}
/* line 6, ../sass/sections/_footer.scss */
footer a {
  color: #ffffff;
}
/* line 9, ../sass/sections/_footer.scss */
footer a:hover {
  color: #ffffff;
}
/* line 13, ../sass/sections/_footer.scss */
footer a.smiley-link {
  width: 60px !important;
  max-width: 60px !important;
}
/* line 17, ../sass/sections/_footer.scss */
footer a.smiley-link img {
  max-width: 60px;
}

/* line 25, ../sass/sections/_footer.scss */
.social-links {
  height: 50px;
  background-color: #000000;
}
/* line 29, ../sass/sections/_footer.scss */
.social-links ul {
  float: right;
}
/* line 32, ../sass/sections/_footer.scss */
.social-links ul li {
  display: inline-block;
}
/* line 34, ../sass/sections/_footer.scss */
.social-links ul li a {
  padding: 10px 0 10px 10px;
  color: #ffffff;
}
