header{
    padding: 10px 0 5px;
    background-color: $themeGrey;

    .logo img{
        max-width: 180px;
        height: auto;
    }

    span.heading{
        display: block;
        width: 100%;
        color: $white;
        text-align: center;
        font-size: 3em;
        margin-bottom: -50px;
        line-height: 3.2em;
        font-family: $headingFont;

        @media (max-width: 767px) {
            font-size: 1.4em!important;
        }
    }


    @media (max-width: 575px) {
        .logo img{
            max-width: 90px;
        }

    }

}