.navigation{
    padding: 10px 0;
    background-color: $black;


    .navbar{
        background-color: $black;
        margin-bottom: 0px;
        padding-bottom: 0px;
        min-height: 0px;

        ul{
            float: right;

            li{

                display: inline-block;
                border-right: 1px solid $white;
                padding: 0px 15px;

                a{
                    color: $white;
                }

            }

        }

    }

    @media (max-width: 767px) {

        .navbar-collapse{
            height: auto !important;
            overflow: visible !important;
            ul{
                margin-top: 15px;
                float: left;
                width: 100%;

                li{
                    float: left;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                    display: block;

                    a{
                        width: 100%;
                        float: left;
                        padding: 10px 0;
                    }
                }
            }

        }

    }

    &.catering{
        border-bottom: 2px solid $themeBlue;
    }

    &.takeaway{
        border-bottom: 2px solid $themeRed;
    }
}