$themeGrey: #564e4b;
$themeGreen: #55634C;
$themeTan: #A2887D;
$themeBabyBlue: #868FD4;
$themeBlue: #6A78E1;
$themeRed: #e15f53;


$black: #000000;
$black_trans: rgba(0,0,0,0.8);

$white: #ffffff;
$white_trans: rgba(255,255,255,0.6);